@charset "utf-8";
/* CSS Document */

/*@keyframes hareketsagsol{
		from{ right:-700px; opacity:0.5;}to{right:0px; opacity:1;}
	}
@keyframes hareketsagsol2{
		from{ right:0px;opacity:1;}to{right:700px;opacity:0.5;}
	}*/
@keyframes hareketsagsol{
	 from {opacity: .4} 
  to {opacity: 1}
	}
@keyframes hareketsagsol2{
from {opacity: .4} 
  to {opacity: 1}
	}


#slider{
	
	width:600px;
	height:300px;
	
	overflow:hidden;
	position:relative;
	
	}
	
.slayt{
	width:600px;
	height:300px;
	overflow:hidden;
	position:absolute;
	top:0;
	right:-700px;
    opacity:0.5;
	}
	
.ileri,.geri{
	width:30px;
	height:30px;
	line-height:30px;
	background-color:rgba(153,153,153,0.5);
	text-align:center;
	font-weight:600;
	position:absolute;
	top:45%;
	cursor:pointer;
	color:#FFF;
	}
	
	
	
	
.aciklama{
	width:100%;
	height:auto;	  
	padding:10px 0 30px 10px;
	color:white;
	opacity:0.9;
	background-color:rgba(0,0,0,0.4);
	position:absolute;
	bottom:0;
	}
#slaytsirasi ul{ list-style: none; padding:0; margin:0;}
#slaytsirasi ul li{ display:inline-block; padding:0.5em; background-color:rgba(255,255,255,0.5); border:2px solid #FFF; border-radius:50%; transition:all .5s linear}
#slaytsirasi ul li:hover{ background-color:#FFF;}
.aktifLi{ background-color:#FFF !important;}
#slaytsirasi{ position: absolute; bottom:0px;left:40px;}

